@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap");

.logo {
  font-family: "Archivo", sans-serif;
}

html, body {
  font-family: "Merriweather", serif;
}

.fw-500 {
  font-weight: 500;
}